// COLORS
$Black: rgb(22, 20, 20);
$White: rgb(238, 238, 238);
$Grey: rgba(22, 20, 20, 0.5);
$Shadow: rgba(128, 128, 128, 0.5);
$Blue: rgb(7, 59, 202);
$DarkBlue: rgb(0, 43, 161);
$Red: red;
$Green: rgb(0, 177, 0);